<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <!--This context load listener will tie the lifecycle of spring to the lifecycle of tomcat-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--spring utilizes the front controller design pattern (It already has a dispatcher servlet)-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <!--By default, tomcat wants us to create another file (dispatcher-servlet.xml)
        we will just reference our bean config file we have already created instead.-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/applicationContext.xml</param-value>
        </init-param>
    </servlet>

    <!--Tells the dispatcher when to be used. catches all the endpoints after the /-->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>